include mixins/navbar
include mixins/theme
doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/star-rating.min.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css")
    +bootswatch('united')
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/extensions/flat-json/bootstrap-table-flat-json.min.js")
    script(src="/js/star-rating.min.js")
  body
    +nav('QC Audit')
      +nav_item('/audit') Home
    .container-fluid
      block content
